
#index_about {
    background-color: #e4e4e4;
    padding: 100px 0px;

    @media (max-width: 991px) {
        padding: 75px 0px;
    }

    @media (max-width: 767px) {
        padding: 50px 0px;
    }

    .index_about_lhs {
        margin-bottom: 30px;
        h3 {
            font-size: 35px;
            font-weight: 600;
            margin-bottom: 30px;
        }
        
        p.large {
            line-height: 26px;
            font-size: 20px;
            font-style: normal;
            color: #2e2e2e;
            margin-bottom: 30px;
        }
    }

    .index_about_rhs {
        img {
            height: 350px;
            object-fit: cover;
        }
    }
}