#our_stats {
    background: url('our_stats/files/images/numbering_bg.jpg') no-repeat center top;
    background-size: cover;
    padding: 80px 0px 40px;

    @media (max-width: 991px) {
        padding: 60px 0px 20px;
    }

    @media (max-width: 757px) {
        padding: 40px 0px 0px;
    }

    .number {
        font-size: 60px;
        color: #f8d24b;
        width: 100%;
        float: left;
        text-align: center;
        font-family: 'PT Serif', serif;
        font-weight: 700;
        font-style: italic;
        line-height: 70px;

        @media (max-width: 991px) {
            font-size: 40px;
        }
    }

    .text {
        font-size: 20px;
        color: #fff;
        width: 100%;
        float: left;
        text-align: center;
        font-style: italic;
        font-weight: 400;
    }

    .stats_div {
        margin-bottom: 40px;
    }
}