/**** Carousel ****/
#carousel {
    height: 65vh;
    .carousel_slide {
        /* background-image: url('carousel/files/images/banner_img1.jpg');
        background-position: 50%;     */
        height: 800px;
        width: 100%;

        @media (max-width: 767px) {
            background-position: 75%;
            height: 75vh;
        }

        img {
            object-fit: cover;
            height: 100%;
            
            @media (max-width: 767px) {
                object-position: 65%;
            }
        }

        .carousel_text_div {
            /* width: 100%;
            color: #fff;
            background-color: #fff; */

            color: #fff;
            /* background-color: #fff; */
            position: relative;
            top:-70%;
            padding: 0px 15px;
            bottom: 0px;

            @media (max-width: 991px) {
                top: -70%;
                padding: 0px 45px;
            }

            @media (max-width: 600px) {
                top: -80%;
                padding: 0px 45px;
            }

            .text {
                //position: absolute;
                top: 40%;
                width: 100%;
                text-align: center;

                @media (max-width: 767px) {
                    width: 100%;
                }

                h1 {
                    font-size: 53px;
                    font-family: 'Poppins', sans-serif;
                    color: #fff;
                    font-weight: 600;
                    text-transform: capitalize;
                    margin-bottom: 20px;
                    line-height: 58px;

                    @media (max-width: 767px) {
                        font-size: 30px;
                        line-height: 45px;
                    }
                }

                p {
                    line-height: 30px;
                    margin-bottom: 40px;

                    font-family: 'Open Sans';
                    font-size: 20px;
                    color: #fff;
                    font-weight: 400;
                    /* font-style: italic; */
                    /* letter-spacing: 0.6px; */
                    line-height: 32px;
                    margin-bottom: 33px;
                    -webkit-animation-delay: 1s;
                    animation-delay: 1s;
                    text-shadow: 1px 1px 1px #000;

                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                }

                .button_div {
                    a {
                        background: rgba(0,0,0,.95);
                        border: 1px solid #f8d24b;
                        color: #f8d24b;
                        font-family: 'Poppins';
                        font-weight: 500;
                        font-size: 16px;
                        width: auto;
                        line-height: 1;
                        padding: 17px 39px;
                        text-transform: capitalize;
                        -webkit-transition: all .4s ease;
                        -o-transition: all .4s ease;
                        transition: all .4s ease;
                        cursor: pointer;
                        text-decoration: none;
                        display: block;
                        margin: 0 auto;

                        &:hover {
                            
                            color: #222;
                            border: 1px solid #f8d24b;
                            background: #f8d24b;
                        }

                        @media (max-width: 767px) {
                            font-size: 14px;
                            width: auto;
                            line-height: 1;
                            padding: 14px 18px;
                        }

                        
                    }
                }
            }
        }
    }

    .prev-slide-carousel {
        position: absolute;
        top: 50%;
        left: 15px;
        color: #fff;
        z-index: 10;

        @media (max-width: 767px) {
            left: 5px;
        }
    }

    .next-slide-carousel {
        position: absolute;
        top: 50%;
        right: 15px;
        color: #fff;
        z-index: 10;

        @media (max-width: 767px) {
            right: 5px;
        }

    }

    i.arrow_left {
        cursor: pointer;
        padding: 0px;
        font-size: 35px;
        color: #6d6e6f;
        background-color: rgba(0,0,0,0.75);
        transition: all 0.3s ease;
        border: 2px solid #444;

        &:hover {
            color: #aaa;
            border: 2px solid #999;
        }
    }

    i.arrow_right {
        cursor: pointer;
        padding: 0px;
        font-size: 35px;
        color: #6d6e6f;  
        background-color: rgba(0,0,0,0.75);
        border: 2px solid #444;
        transition: all 0.3s ease;
        
        &:hover {
            color: #aaa;
            border: 2px solid #aaa;
        }
    }
}
/**** Carousel ****/