/**** Carousel ****/
#carousel {
    height: 800px;
    background-image: url('carousel/files/images/banner_img1.jpg');
    background-position: 50%;

    @media (max-width: 767px) {
        background-position: 75%;
        height: 75vh;
    }
}
/**** Carousel ****/