/**** Header ****/
#header {
    position: absolute;
    top: 0px;
    z-index: 1000;
}
/* Top Bar */
.top_bar {
    background-color: transparent;
    height: 50px;
    border-bottom: 1px solid rgba(255,255,255,.17);

    &__content {
        color: #F8D24B;

        &__lhs {
            font-size: 14px;
            font-family: 'Open Sans';
            letter-spacing: .03em;
            margin: 0;

            i{
                 margin-right: 5px;
                 font-size: 20px;
            }
        }

        &__rhs {
            font-family: 'Poppins';
            font-size: 15px;
            letter-spacing: .02em;
            position: relative;

            span {
                padding-left: 22px;

                i {
                    font-size: 20px;
                    margin-right: 5px;
                }
            }
        }
    }
}
/* Top Bar */

/* Navigation */
.navigation {
    height: 85px;
    background-color: transparent;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255,255,255,.17);
    &__content {

        &__lhs {
            .logo {
                font-size: 26px;
                text-transform: uppercase;
                font-weight: 700;
            }

            
            @media (max-width: 991px) {
                flex-grow: 1;
            }
        }

        &__rhs {

            &__menu {
                a {
                    font-family: 'Poppins';
                    font-weight: 500;
                    font-size: 16px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    text-transform: capitalize;
                    margin: 0 15px;
                    padding: 5px 0px;
                    text-decoration: none;
                    border-bottom: 2px solid transparent;
                    transition: all 0.3s ease;

                    &:hover {
                        border-bottom: 2px solid #f8d24b;
                    }

                    @media (max-width: 991px) {
                        margin: 0 10px;
                    }
                }

                @media (max-width: 767px) {
                    position: absolute;
                    top: 85px;
                    left: 0px;
                    right: 0px;
                    background-color: #f8d24b;
                    display: none;
    
                    a {
                        color: #242424;
                        display: block;
                        padding: 15px 15px;
                        font-weight: 600;
                    }
                    
                }
                
            }

            &__search {
                border-left: 1px solid rgba(255,255,255,.34);
                margin-left: 10px;
                padding-left: 20px;
                cursor: pointer;
                user-select: none;
                

                i{
                    color: rgba(255,255,255,.6);
                    font-size: 22px;

                    @media (max-width: 991px) {
                        font-size: 25px;
                    }
                }

                @media (max-width: 991px) {
                    border-left: none;
                    margin-right: 20px;
                }
            }
        }

        .nav_menu {
            cursor: pointer;
            i {
                color: #f8d24b;
                font-size: 32px;
                font-weight: bold;
            }
        }
    }
}


.search_overlay {
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background: #f8d24b;
    position: fixed;
    top: 0;
    left: 0;
    //display: none;

    &.show {
        opacity: 1;
        visibility: visible;
        z-index: 9999999;
    }

    .close_search {
        width: 23px;
        height: 20px;
        position: absolute;
        color: #242424;
        right: 15px;
        top: 10px;
    }

    .search_main_container {
        max-width: 600px;
        position: relative;

        h4 {
            font-size: 25px;
            color: #242424;
            margin-bottom: 30px;
        }

        .search_main_container form {
            position: relative;
            width: 100%;
            float: left;
        }
        
        .searchbox_input {
            width: 100%;
            float: left;
            border-bottom: 1px solid #242424 !important;
            border: 0px;
            font-size: 18px;
            color: #242424;
            background: transparent;
            padding: 5px 0;
            outline: none;
            padding-right: 35px;
        }

        .searchbox_btn {
            position: absolute;
            right: 10px;
            bottom: 0px;
            border: none;
            outline: none;
            background: transparent;
        }
    }
}
/* Navigation */

/**** Header ****/