/**** Our Mission ****/
#our_mission {
    background-color: #fff;
    padding: 100px 0px;

    @media (max-width: 991px) {
        padding: 75px 0px;
    }

    @media (max-width: 767px) {
        padding: 50px 0px;
    }

    .our_mission_lhs {
        //margin-bottom: 40px;
    }



    .our_mission_rhs {
        padding-top: 40px;

        .mission_sub_section {
            margin-bottom: 50px;

            &:last-child {
                margin-bottom: 0px;
            }
        }

        .detail {

            h4 {
                font-size: 20px;
                color: #242424;
                margin-bottom: 15px;
            }
            
            p {
                letter-spacing: 0px;
            }
        }
    }
}
/**** Our Mission ****/