.testimonial_div {
    padding: 0px 30px;
    margin-bottom: 45px;

    .top_row {

        .image_container {
            margin-right: 30px;
            @media (max-width: 500px) {
                margin: 0 auto;
                margin-bottom: 10px
            }
            img {
                width: 130px;
                height: 130px;
                border: 2px solid #fff;
                float: left;
                border-radius: 100%;
            }
        }

        h5 {
            font-size: 18px;
            font-weight: 600!important;
            font-family: 'Open Sans', sans-serif!important;
            margin: 5px 0px 12px;
            letter-spacing: 0px;
        }

        .star_rating {
            margin-top: 10px;

            i {
                font-size: 18px;
            }
        }

        .user_details {
            @media (max-width: 500px) {
                margin: 0 auto;
                text-align: center;
            }
        }
    }

    .content_row {
        margin-top: 20px;
    }
}