/**** About Us  ****/
.about_us {
    @media (max-width: 991px) {
        margin-top:60px;
    }
}
.section_title {
    color: #222;
    font-size: 34px;
    margin-bottom: 35px;
    font-weight: 600;
    position: relative;

    &::after {
        width: 35px;
    position: absolute;
    height: 2px;
    background: #5093e6;
    content: '';
    bottom: 6px;
    margin-left: 14px;
    }

    @media (max-width: 991px) {
        font-size: 30px;
    }
}

.image {
    margin-bottom: 20px;
    max-height: 300px;
    img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
    }
}

/**** About Us  ****/