#projects {
    background-color: #fff;
    padding: 100px 0px;

    @media (max-width: 991px) {
        padding: 75px 0px;
    }

    @media (max-width: 767px) {
        padding: 50px 0px;
    }

    .filters-button-group {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .button {
            background-color: transparent;
            border: none;
            outline: none;

            padding: 9px 0px;
            color: #c1c1c1;
            display: block;
            line-height: 25px;
            box-sizing: border-box;
            border-bottom: transparent;
            border-bottom: 2px solid transparent;
            font-weight: 600;
            text-transform: uppercase;
            font-family: poppins;
            margin-right: 45px;
            margin-bottom: 30px;
            transition: all 0.3s ease;

            @media (max-width: 767px) {
                font-size: 14px;
                margin-right: 30px;
                margin-bottom: 10px;
            }

            &.is-checked {
                color: #5db5ff;
                border-bottom: 2px solid #5db5ff;
            }
        }
    }

    .projects_grid {
        margin: 0 auto;
        margin-top: 30px;
        width: 100%;
        min-height: 75vh;


        .element-item {
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
        }

        .image_and_overlay_container {
            position: relative;
            overflow: hidden;
            max-height: 320px;

            .overlay {
                position: absolute;
                top: 0px;
                right: 0px;
                height: 100%;
                //background-color: rgba(7, 50, 98, .75);
                left: 0px;
                
                transition: all 0.3s ease;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 100;

                .project_name {
                    height: 75px;
                    position: absolute;
                    bottom: 0px;
                    background-color: #f8d24b;
                    transform: translate3d(0,100%,0);
                    transition: all 0.3s ease;
                    left:0px;
                    right: 0px;
                    color: #000;
                    font-family: poppins;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                }

                .view_project {
                    position: relative;
                    top: 0%;

                    transform: translate3d(0, 0px, 0) translateY(-50%);
                    opacity: 0;

                    background-color: rgba(0,0,0,0.75);
                    color: #fff;
                    font-size: 16px;
                    font-weight: 600;
                    color: #fff;
                    width: 164px;
                    line-height: 49px;
                    border: 1px solid #222;
                    border-radius: 3px;
                    float: none;
                    display: inline-block;
                    font-family: poppins;
                    margin: 0px;
                    padding: 0px;
                    text-align: center;
                    transition: all .4s ease;
                    cursor: pointer;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }

        .image_and_overlay_container:hover .view_project {
            opacity: 1;
        }

        .image_and_overlay_container:hover .project_name {
            transform: translate3d(0,0,0);
        }
    }
}