/**** values_and_about ****/
#values_and_about {
    padding: 100px 0px;
    background-color: #fff;

    @media (max-width: 991px) {
        padding: 75px 0px;
    }

    @media (max-width: 767px) {
        padding: 50px 0px;
    }

    .testimonial_div {
        @media (max-width: 767px) {
            margin-top:60px;
        }

        .section_title {
            position: relative;
            left: -15px;
        }
    }
}
/**** values_and_about ****/