/**** What we offer  */
#what_we_offer {
    background: url('what_we_offer/files/images/offer_bg.jpg') no-repeat center top;
    background-size: cover;
    padding: 100px 15px;

    @media (max-width: 991px) {
        padding: 75px 15px;
    }

    @media (max-width: 767px) {
        padding: 50px 15px;
    }

    .section_title {
        color: #fff;
        font-size: 34px;
        margin-bottom: 35px;
        font-weight: 600;
        position: relative;

        &::after {
            width: 35px;
        position: absolute;
        height: 2px;
        background: #fff;
        content: '';
        bottom: 6px;
        margin-left: 14px;
        }

        @media (max-width: 991px) {
            font-size: 30px;
        }
    }

    /* Offers Div */
    .offers_div {
        color: #fff;
        margin-bottom: 30px;

        @media (max-width: 767px) {
            margin-bottom: 50px;
        }

        &:last-child {
            margin-bottom: 0px;
        }


        .title {
            margin: 30px 0px 10px;
        }

        .description {
            margin-bottom: 10px;
            p {
                color: #aaa;
                line-height: 22px;
                font-size: 14px;
            }
        }

        .read_more {
            a {
                color: #d7ad3c;
                font-size: 13px;
                font-weight: 600;
                text-decoration: underline;
                text-transform: uppercase;
            }
        }

        &.offers_lower_div {
            margin-top: 40px;
            margin-bottom: 0px;

            .title {
                margin-top: 0px;
            }

            .image {
                margin-bottom: 30px;
            }
        }
    }
    /* Offers Div */

    .gray_separate_line.lght_gray_separator {
        background: #4b4c4c;
    }
    .gray_separate_line {
        background: #d5d7da;
        height: 1px;
        width: 100%;
    }

    .padding_top_40 {
        padding-top: 40px;
    }

}
/**** What we offer  */