/**** What we offer  */
#what_we_offer {
    background: url('what_we_offer/files/images/offer_bg.jpg') no-repeat center top;
    background-size: cover;
    padding: 100px 15px;

    h3 {
        color: #fff;
        font-size: 32px;
        margin-bottom: 45px;

        @media (max-width: 991px) {
            font-size: 30px;
        }
    }
    
    .offers_div {
        color: #fff;
        margin-bottom: 20px;

        .title {
            margin: 30px 0px 10px;
        }

        .description {
            margin-bottom: 10px;
            p {
                color: #aaa;
                line-height: 22px;
                font-size: 14px;
            }
        }

        .read_more {
            a {
                color: #d7ad3c;
                font-size: 13px;
                font-weight: 600;
                text-decoration: underline;
                text-transform: uppercase;
            }
        }
    }



}
/**** What we offer  */