/**** Footer ****/
#footer {
    background-color: #1a1a1a;
    padding: 80px 0px 30px;

    @media (max-width: 767px) {
        padding: 50px 20px;
    }

    .footer_elements_div {
        margin-bottom: 30px;
    }
    
    p {
        font-size: 15px;
        margin: 17px 0px;
        color: #676b6e;
        letter-spacing: 0px;
        line-height: 24px;
    }

    a {
        display: block;
        font-size: 15px;
        text-decoration: none;
        transition: all 0.3s ease;
        color: #676b6e;

        &.read_more {
            
            color: #927f3c;
            padding-right: 15px; 

            &:hover {
                color: #fff;
            }
        }

        &.social_icon {
            color: #546e85;
            width: 37px;
            height: 37px;
            border: 1px solid #546e85;
            border-radius: 28px;
            text-align: center;
            line-height: 37px;
            font-weight: 600;
            font-size: 15px;
            transition: all 0.3s ease;
            cursor: pointer;
            margin-right: 15px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                color: #e5c463;
                border: 1px solid #e5c463;
            }
        }
    }

    .logo {
        color: #fff;
        font-weight: 700;
        font-family: poppins;
        text-transform: uppercase;
        font-size: 26px;
    }

    .service_links_div, .quick_links_div, .get_in_touch_div {
        h6 {
            font-size: 18px;
            color: #d1d4d7;
            font-weight: 400!important;
            /* font-style: italic; */
            position: relative;
            text-transform: capitalize;
            /* letter-spacing: -0.3px; */
            line-height: 18px;
            margin: 0px 0px 15px;
            display: inline-block;

            &::after {
                position: absolute;
                width: 25px;
                height: 1px;
                content: "";
                background: #d6b34a;
                bottom: 0px;
                right: -35px;
            }
        }

        a::before {
            content: "-";
            padding-right: 10px;
        }
    }

    .get_in_touch_div {
        .icon {
            color: #4C88BE;
            margin-right: 15px;
        }

        .get_in_touch_element {
            margin: 17px 0px;
        }

        p {
            margin: 0px;
        }

        .bold {
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    #footer_bottom {
        background: #151515;
        padding: 28px 0px;

        p {
            margin: 5px;
        }
    }

}
/**** Footer ****/