/**** Our Projects  ****/
#our_projects {
  background: url("our_projects/files/images/project_bg-1.jpg") no-repeat center top;
  background-size: cover;
  padding: 100px 0px 0px;
  /* Slick slider */
  /* Slick slider */
}
@media (max-width: 991px) {
  #our_projects {
    padding: 75px 0px 0px;
  }
}
@media (max-width: 767px) {
  #our_projects {
    padding: 50px 0px 0px;
  }
}
#our_projects .section_title {
  color: #fff;
  font-size: 34px;
  margin-bottom: 35px;
  font-weight: 600;
  position: relative;
}
#our_projects .section_title::after {
  width: 35px;
  position: absolute;
  height: 2px;
  background: #fff;
  content: '';
  bottom: 6px;
  margin-left: 14px;
}
@media (max-width: 991px) {
  #our_projects .section_title {
    font-size: 30px;
  }
}
#our_projects .projects_title_description_row {
  padding: 0px 15px;
  position: relative;
}
#our_projects .description {
  margin-bottom: 45px;
}
#our_projects .description p {
  color: #a7aaac;
}
@media only screen and (max-width: 767px) {
  #our_projects .projects_slider_container {
    margin-top: 50px;
  }
}
#our_projects .image_slider_container {
  width: 100%;
}
#our_projects .image_and_overlay_container {
  position: relative;
  overflow: hidden;
  max-height: 320px;
}
#our_projects .image_and_overlay_container .overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  left: 0px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
}
#our_projects .image_and_overlay_container .overlay .project_name {
  height: 75px;
  position: absolute;
  bottom: 0px;
  background-color: #f8d24b;
  transform: translate3d(0, 100%, 0);
  transition: all 0.3s ease;
  left: 0px;
  right: 0px;
  color: #000;
  font-family: poppins;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
#our_projects .image_and_overlay_container .overlay .view_project {
  position: relative;
  top: 0%;
  transform: translate3d(0, 0px, 0) translateY(-50%);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  width: 164px;
  line-height: 49px;
  border: 1px solid #222;
  border-radius: 3px;
  float: none;
  display: inline-block;
  font-family: poppins;
  margin: 0px;
  padding: 0px;
  text-align: center;
  transition: all .4s ease;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}
#our_projects .image_and_overlay_container:hover .view_project {
  opacity: 1;
}
#our_projects .image_and_overlay_container:hover .project_name {
  transform: translate3d(0, 0, 0);
}
#our_projects .slick-slide {
  max-height: 320px;
}
#our_projects .slick-slide img {
  width: 100%;
  max-height: 320px;
}
#our_projects .prev-slide-project {
  position: absolute;
  right: 75px;
}
@media (max-width: 767px) {
  #our_projects .prev-slide-project {
    right: 52%;
    bottom: -25px;
  }
}
@media (max-width: 500px) {
  #our_projects .prev-slide-project {
    right: 53%;
    bottom: -25px;
  }
}
#our_projects .next-slide-project {
  position: absolute;
  right: 15px;
}
@media (max-width: 767px) {
  #our_projects .next-slide-project {
    right: 40%;
    bottom: -25px;
  }
}
@media (max-width: 500px) {
  #our_projects .next-slide-project {
    right: 38%;
    bottom: -25px;
  }
}
#our_projects i.arrow_left {
  cursor: pointer;
  padding: 0px;
  font-size: 40px;
  color: #6d6e6f;
  border: 2px solid #6d6e6f;
  transition: all 0.3s ease;
}
#our_projects i.arrow_left:hover {
  color: #fff;
  border: 2px solid #fff;
}
#our_projects i.arrow_right {
  cursor: pointer;
  padding: 0px;
  font-size: 40px;
  color: #6d6e6f;
  border: 2px solid #6d6e6f;
  transition: all 0.3s ease;
}
#our_projects i.arrow_right:hover {
  color: #fff;
  border: 2px solid #fff;
}

/**** Our Projects  ****/

/*# sourceMappingURL=our_projects.css.map */
