#news {
    background-color: #fff;
    padding: 100px 0px;

    @media (max-width: 991px) {
        padding: 75px 0px;
    }

    @media (max-width: 767px) {
        padding: 50px 0px;
    }

    /* News LHS */
    .news_lhs {

        & > div {
            margin-bottom: 60px;
        }

        .section_title {
            color: #1c2837;
            font-size: 24px;
            margin-bottom: 20px;
            font-weight: 600;
            position: relative;
    
            &::after {
                width: 35px;
            position: absolute;
            height: 2px;
            background: #5093e6;
            content: '';
            bottom: 6px;
            margin-left: 14px;
            }
    
            @media (max-width: 991px) {
                font-size: 20px;
            }
        }

        .search_input_div {
            input {
                margin: 0px;
                background: #fff;
                border: 2px solid #d9d9d9;
                padding: 12px 15px;
                width: 100%;
                font-size: 14px;
                color: #324a5e;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                background: none;
                outline: none;
                border-radius: 0px;
            }
            .search_button {
                background-color: #5DB5FF;
                padding: 0px 12px;
                position: relative;
                left: -2px;
                color: #fff;
                border: none;
                outline: none;
            }
        }

        .recent_posts {

            .recent_posts_links {
                padding-top: 20px;
                border-bottom: 1px solid #e6e6e6;
                a {
                    color: #404040;
                    transition: all 0.3s ease;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 22px;

                    &:hover {
                        color: #458ac4;
                    }
                }

                p {
                    color: #797979;
                    font-size: 14px;
                    margin: 15px 0px 15px;
                }
            }
        }

        .categories {
            .categories_links {
                font-size: 15px;
                border-bottom: 1px solid #e6e6e6;
                letter-spacing: 0.3px;
                padding: 10px 0px;
                a {
                    padding: 10px 0px;
                    display: block;
                    color: #333;
                }
            }
        }

        .tags {
            .tag_links {
                display: inline-block;
                margin-right: 10px;
                margin-top: 15px;
            }
            a {
                color: #a6a6a6;
                text-decoration: none;
                border: 1px solid #e4e4e4;
                display: inline-block;
                background: #fff;
                padding: 8px 14px !important;
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                font-size: 14px !important;
                font-weight: 600;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #5DB5FF;
                    color: #fff;
                }
            }
        }
    }
    /* News LHS */


    /* News RHS */
    .news_rhs {
        .news_story{
            padding-left: 30px;
            margin-bottom: 75px;

            @media (max-width: 991px) {
                padding-left: 0px;
            }
            
            .news_image {
                position: relative;
                overflow: hidden;

                img {
                    transition: all 0.3s ease;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                

                .overlay{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    background-color: rgba(0, 0, 0, 0);
                    pointer-events: none;

                    .news_date {
                        position: absolute;
                        line-height: 46px;
                        font-size:18px;
                        bottom: 20px;
                        text-transform: uppercase;
                        font-weight: 700;

                        background: #d5b157;
                        color: #fff;
                        font-weight: 600;
                        text-align: center;
                        border-radius: 5px;
                        padding: 0px 20px;
                        left: 20px;
                        font-weight: 700;
                    }
                }
            }

            .news_details {
                margin: 0px 0px 25px;
                padding: 22px 0px;
                border-bottom: 1px solid #e4e4e4;

                .detail {
                    padding-left: 22px;
                    font-size: 14px;
                    color: #b8b8b8;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-right: 26px;

                    @media (max-width: 991px) {
                        font-size: 13px;
                    }

                    i {
                        margin-right: 10px;
                    }
                }
            }
            .text {
                h4 {
                    font-size: 27px;
                    font-weight: 600;
                    line-height: 1.5em;

                    @media (max-width: 991px) {
                        font-size: 25px;
                    }
                    a {
                        color: #272b31;
                    }
                }
                
                p{
                    margin: 20px 0px 35px;
                }
                a.read_more_button {
                    font-size: 14px;
                    background: #5db5ff;
                    border-radius: 3px;
                    width: 141px;
                    line-height: 44px;
                    color: #fff;
                    font-weight: 700;
                    font-family: 'Open Sans', sans-serif;
                    text-transform: uppercase;
                    padding: 12px 24px;
                    margin-top: 15px;
                }

                /* News story details */
                .news_story_details_quote {
                    width: 100%;
                    float: left;
                    background: #f5f4f4;
                    border-radius: 5px;
                    padding: 24px 31px 37px;
                    margin: 25px 0px 50px;

                    display: flex;
                    @media (max-width: 500px) {
                        flex-wrap: wrap;
                    }
                    
                    .quote_icon {
                        margin-right: 30px;
                        i{
                            transform: rotate(180deg);
                            color: #D0D0D0;
                            font-size: 75px;
                        }
                    }

                    .quote_text {

                        .quote_by {
                            font-size: 15px;
                            color: #5db5ff;
                            font-style: italic;
                            font-weight: 300;
                            float: right;
                            font-family: poppins;
                        }

                    }

                    
                }
                /* News stories */

                /* Share Buttons container */
                .share_buttons_container {
                    flex-wrap: wrap;

                    .share_button {
                        background: #fff;
                        border: 2px solid #f2f2f2;
                        padding: 9px !important;
                        position: relative;
                        margin-right: 10px;
                        margin-bottom: 5px;

                        i {
                            color: #A7A6A2;
                            font-size: 22px;
                        }

                        &::after {
                            width: 8px;
                            height: 12px;
                            position: absolute;
                            right: -8px;
                            top: 15px;
                            background: url('news/files/images/share_icon_after.jpg') no-repeat 0px 0px;
                            content: "";
                        }
                    }
                    a {
                        padding: 12px 18px;
                        color: #fff;
                        text-decoration: none;
                        display: block;
                        list-style: none;
                        float: left;
                        font-size: 12px;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 700;
                        margin-right: 5px;
                        margin-bottom: 5px;
                        

                        &.twitter {
                            background: #4cc5f3;
                        }

                        &.facebook {
                            background: #758ab7;
                        }

                        &.google {
                            background: #e78074;
                        }

                        &.linkedin {
                            background: #4ca2cc;
                        }
                    }
                }
                /* Share Buttons container */

                /* Comments Container */
                .comments_container {
                    margin-top: 60px;
                    h3 {
                        font-size: 23px;
                        letter-spacing: 0px;
                        font-weight: 600;
                        margin-bottom: 25px;
                    }

                    .comment_list_div {
                        border: 1px solid #eee;
                        margin-bottom: 45px;

                        .comment_list {
                            padding: 24px 30px 20px 25px;
                            border-bottom: 1px solid #eee;
                            background: #fff;
                            display: flex;

                            @media (max-width: 600px) {
                                display: block;
                            }

                            &:last-child {
                                border-bottom: none;
                            }
                        }

                        .comment_photo {
                            display: inline-block;
                        }

                        .comment_info {
                            display: inline-block;
                            width: 85%;
                            margin-left: 25px;
                            @media (max-width: 600px) {
                                margin-top: 15px;
                                margin-left: 0px;
                                width: 100%;
                            }
                            h6 {
                                color: #242424;
                                font-size: 15px;
                                font-family: 'Raleway', sans-serif!important;
                                text-transform: none;
                                margin-bottom: 4px;
                            }

                            .comment_p {
                                margin-top: 5px;
                                margin-bottom: 15px;
                            }

                            .comment_date_and_reply {
                                color: #333;
                                font-weight: 600;
                                font-size: 13px;
                                padding-left: 0px;

                                li {
                                    list-style: none;
                                    font-size: 13px;
                                    padding: 0px 10px;
                                    letter-spacing: 0px;
                                    display: inline-block;
                                    padding-left: 0px;
                                }
                            }
                        }
                    }
                }
                /* Comments Container */

                .leave_a_comment_container {
                    background: #f7f7f7;
                    padding: 50px 25px 38px;
                    border: 1px solid #eee;

                    h3 {
                        font-size: 25px;
                        letter-spacing: 0px;
                        margin-bottom: 25px;
                        font-weight: 600;
                    }

                    .leave_a_comment_form {
                        .reply_textarea {
                            margin-bottom: 15px;
                            textarea {
                                width: 100%;
                                font-size: 15px;
                                border: 1px solid #eee;
                                padding: 15px 15px;
                                min-height: 150px;
                                height: 150px;
                                max-height: 150px;
                                border-radius: 0px;
                                color: #222;
                                box-shadow: 0px 0px 0px;
                                outline: none;
                            }
                        }
                        .reply_input {
                            margin-bottom: 20px;
                            input {
                                width: 100%;
                                font-size: 15px;
                                border: 1px solid #eee;
                                padding: 15px 15px;
                                height: 50px;
                                border-radius: 0px;
                                color: #222;
                                box-shadow: 0px 0px 0px;
                                outline: none;
                            }
                        }

                        .submit_button {
                            button {
                                line-height: 54px;
                                width: 173px;
                                font-size: 16px;
                                margin: 10px 0px 0px;
                                background: none #5db5ff;
                                text-align: center;
                                padding: 0px;
                                color: #fff;
                                float: left;
                                font-weight: 600;
                                text-transform: uppercase;
                                border-radius: 4px;
                                letter-spacing: 0.5px;
                                vertical-align: middle;
                                touch-action: manipulation;
                                cursor: pointer;
                                user-select: none;
                                background-image: none;
                                border: 1px solid transparent;
                                transition: all 0.3s ease;

                                &:hover {
                                    background-color: #222;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* News RHS */
}