#what_we_offer {
    background-color: #fff;
    padding: 100px 0px 50px;

    @media (max-width: 991px) {
        padding: 75px 0px;
    }

    @media (max-width: 767px) {
        padding: 50px 0px;
    }

    .section_title {
        color: #1c2837;
        font-size: 34px;
        margin-bottom: 35px;
        font-weight: 600;
        position: relative;

        &::after {
            width: 35px;
            position: absolute;
            height: 2px;
            background: #5093e6;
            content: '';
            bottom: 6px;
            margin-left: 14px;
        }

        @media (max-width: 991px) {
            font-size: 26px;
        }
    }

    /* Offers Div */
    .offers_div {
        color: #1c2837;
        margin-bottom: 75px;

        @media (max-width: 767px) {
            margin-bottom: 50px;
        }

        &:last-child {
            margin-bottom: 0px;
        }

        .image {
            overflow: hidden;
            img {
                transition: all 0.3s ease;
                &:hover {
                    transform: scale(1.1); 
                 }
            }
        }


        .title {
            margin: 30px 0px 10px;
        }

        .description {
            margin-bottom: 10px;
            p {
                color: #aaa;
                line-height: 22px;
                font-size: 14px;
            }
        }

        .read_more {
            a {
                width: 100%;
                letter-spacing: .40px;
                text-transform: uppercase;
                float: left;
                font-size: 13px;
                color: #2488e6;
                text-decoration: none;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -moz-transition-duration: 0.3s;
                font-weight: bold;
            }
        }
    }
    /* Offers Div */

    .padding_top_40 {
        padding-top: 40px;
    }
}