#index_our_solutions {
    background-color: #fff;
    padding: 100px 15px 100px;

    @media (max-width: 991px) {
        padding: 75px 15px;
    }

    @media (max-width: 767px) {
        padding: 50px 15px;
    }

    .heading_container {
        h3 {
            font-size: 30px;
            color: #1c2837;
            font-weight: 600;
            margin-bottom: 30px;
        }
        p {
            color: #797979;
        }
    }

    .services_divs_container  {
        margin-top: 60px;
    }

    .services_div {
        text-align: center;
        padding: 40px 30px 47px;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        outline: none;
        transition: all 0.3s ease;

        @media (min-width: 992px) {
            &:nth-child(3) {
                border-right: 0px;
            }
    
            &:nth-child(6) {
                border-right: 0px;
            }
    
            &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                border-bottom: 0px;
            }
        }

        @media (max-width: 991px) {
            &:nth-child(even) {
                border-right: 0px;
            }
    
            &:nth-child(5), &:nth-child(6) {
                border-bottom: 0px;
            }
        }

        @media (max-width: 767px) {
            border-right: 0px;
            &:nth-child(6) {
                border-bottom: 0px;
            }
        }

        

        .img {
            width: 64px;
            height: 64px;
            display: inline-block;

            &.service_img {
                background: url('index_our_solutions/files/images/agriculture_icon1.png') no-repeat 0px 0px;
            }

        }
       

        &:hover {
            background-color: #172738;

            .img.service_img {
                background: url('index_our_solutions/files/images/agriculture_icon1_hover.png') no-repeat 0px 0px;
            }

            h4 > a {
                color: #f2cd69;
            }

            p {
                color: #a0a0a0;
            }

            .read_more a {
                text-decoration: underline;
                color: #2488e6;
            }

        }

        h4 {
            margin: 23px 0px 9px;
            color: #242424;
            font-size: 20px;
            font-weight: 600;

            a {
                color: #242424;
                text-decoration: none;
            }
        }

        p {
            margin-bottom: 10px;
            font-size: 16px;
            color: #797979
        }

        .read_more {
            a {
                width: 100%;
                letter-spacing: .40px;
                text-transform: uppercase;
                float: left;
                font-size: 12px;
                color: #2488e6;
                text-decoration: none;
                font-weight: 700;
            }
        }
    }

}