body {
    margin: 0px;
}

.list_banner {
    background: url('../images/banner-bg.jpg') no-repeat;
    padding: 50px 30px 50px 30px;
    height: 200px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    h3 {
        font-family: poppins;
        color: #fff;
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        margin: 0px;

        @media (max-width: 767px) {
            font-size: 30px;
        }
    }

    a.demos_button {
        display: block;
        width: 204px;
        margin: 0px;
        text-align: center;
        background: #5E9AD4;
        font-family: poppins, sans-serif;
        font-weight: 600;
        font-size: 13px;
        color: #fff;
        text-transform: uppercase;
        line-height: 52px;
        border-radius: 3px;
        transition: all 300ms linear 0s;
        text-decoration: none;

        &:hover {
            background-color: darken(#5E9AD4, 10%);
        }

        @media (max-width: 767px) {
            width: 150px;
        }
    }
}