#what_we_offer {
  background-color: #fff;
  padding: 100px 0px 50px;
}
@media (max-width: 991px) {
  #what_we_offer {
    padding: 75px 0px;
  }
}
@media (max-width: 767px) {
  #what_we_offer {
    padding: 50px 0px;
  }
}
#what_we_offer .what_we_offer_slider_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}
#what_we_offer .what_we_offer_slider_title .section_title {
  color: #1c2837;
  font-size: 34px;
  margin-bottom: 0px;
  font-weight: 600;
  position: relative;
}
#what_we_offer .what_we_offer_slider_title .section_title::after {
  width: 35px;
  position: absolute;
  height: 2px;
  background: #5093e6;
  content: '';
  bottom: 6px;
  margin-left: 14px;
}
@media (max-width: 991px) {
  #what_we_offer .what_we_offer_slider_title .section_title {
    font-size: 26px;
  }
}
#what_we_offer .what_we_offer_slider_title a {
  font-family: Alegreya;
  font-size: 20px;
  color: #323232;
  text-decoration: underline;
  transition: all 0.3s ease;
}
#what_we_offer .what_we_offer_slider_title a:hover {
  text-decoration: none;
  color: #5db5ff;
}
#what_we_offer .what_we_offer_slider .slide {
  outline: none;
}
#what_we_offer .what_we_offer_slider .slider_img {
  margin-bottom: 25px;
}
#what_we_offer .what_we_offer_slider .heading h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
#what_we_offer .what_we_offer_slider .heading h4 a {
  color: #242424;
}
#what_we_offer .what_we_offer_slider .description {
  margin-bottom: 25px;
}
#what_we_offer .what_we_offer_slider .description p {
  color: #999;
  font-size: 14px;
  font-family: 'open sans';
}
#what_we_offer .what_we_offer_slider .read_more_button {
  width: 128px;
  line-height: 37px;
  background-color: #f8d24b;
  border-radius: 3px;
  font-size: 14px;
  color: #272727;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  height: 37px;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
#what_we_offer .what_we_offer_slider .read_more_button:hover {
  background-color: #222;
  color: #f8d24b;
}
#what_we_offer .slick-slide {
  padding: 0px 15px !important;
  outline: none;
}
#what_we_offer .slick-slide img {
  width: 100%;
}
#what_we_offer .what_we_offer_slider_arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  user-select: none;
}
#what_we_offer .what_we_offer_slider_arrows > div {
  margin: 0px 10px;
}
#what_we_offer i.arrow_left {
  cursor: pointer;
  padding: 8px;
  font-size: 30px;
  color: #b1b1b1;
  border: 2px solid #c2c2c2;
  transition: all 0.3s ease;
}
#what_we_offer i.arrow_left:hover {
  color: #444;
  border: 2px solid #444;
}
#what_we_offer i.arrow_right {
  cursor: pointer;
  padding: 8px;
  font-size: 30px;
  color: #b1b1b1;
  border: 2px solid #c2c2c2;
  transition: all 0.3s ease;
}
#what_we_offer i.arrow_right:hover {
  color: #444;
  border: 2px solid #444;
}

/*# sourceMappingURL=what_we_offer_slider.css.map */
